{% assign home_team = teams | split, " " | first %}
{% assign away_team = teams | split, " " | last %}
{% if trmnl.plugin_settings.custom_fields_values.id_type == "team" %}
{% assign img_base_url = "https://media.api-sports.io/football/teams/" %}
{% else %}
{% assign img_base_url = "https://media.api-sports.io/football/leagues/" %}
{% endif %}

<div class="layout layout--col gap--space-between">
  <div class="grid grid--cols-1">
    <div class="item col col--center">
      <div class="content">
        <span class="value value--large">{{ home_team }} x</span>
        <span class="value value--large">{{away_team}}</span>
      </div>
    </div>
  </div>
  <div class="w-full b-h-gray-3"></div>
  <span class="value value--small">{{ start_time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" | l_date: "%a, %b %e", trmnl.user.locale }}, {{ start_time | date: "%s" | plus: trmnl.user.utc_offset | date: "%l:%M %p" }}</span>
  <div class="w-full b-h-gray-3"></div>
  <div class="grid">
    <div class="item col col--span-3 col--center col--center-x">
      <div class="content">
        {% if extra_info != "N/A" %}
        <span class="label label--large">{{ extra_info }}</span>
        {% else %}
        <span class="label label--large">Competition: {{ competition }}</span>
        {% if ref != "None" %}
        <span class="label label--large">Ref: {{ ref }}</span>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="item col col--center">
      <div class="content">
        <img class="image-dither" src="{{ img_base_url }}{{ trmnl.plugin_settings.custom_fields_values.id_num }}.png" width="80">
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://www.emoji.family/api/emojis/26bd/twemoji/svg" />
  <span class="title">
    FootCal Next Game ({{ trmnl.plugin_settings.custom_fields_values.id_type }}/{{ trmnl.plugin_settings.custom_fields_values.id_num }})
  </span>
</div>
